---
layout: default
excerpt: "this is my excerpt"
---
{% include JB/setup %}
<style>
  .article {
    padding : 20px 5px;
    margin  : 0px 0px 15px 0px;
    border-bottom : thin dashed #cccccc;
  }
</style>
{% for post in site.posts limit: 5 %}
<div class="article" id="{{ post.id }}">
    <div class="header">
        <div class="date"><span>{{ post.date | date: "%-d %B %Y"  }}</span></div>
        <h2>{{ post.title }}</h2>
    </div>
    <div class="excerpt">
        {{ post.excerpt }}
        <span class="read-more"><a href="{{ post.url }}" class="post-link">...read more</a></span>
    </div>
</div>
{% endfor %}
